.card {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn-lightseagreen {
    color: black;
    background-color: lightseagreen;
}

.btn-lightseagreen:hover {
    color: lightseagreen;
    background-color: white;
}