.navbar {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-between;
    background-color: lightseagreen;
}

.navbar .h3 {
    margin: 0;
}

.ml-auto {
    margin-left: auto;
}

.btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: white;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}